@unocss all;

body {
	font-family: var(--font-inter);
	min-height: 100vh;
}

html.dark .os-scrollbar-handle {
	--os-handle-bg: rgba(255, 255, 255, 0.5);
}

html.dark .os-scrollbar-handle:hover {
	--os-handle-bg-hover: rgba(255, 255, 255, 0.7);
}

.os-scrollbar-handle {
	--os-handle-bg: rgba(0, 0, 0, 0.5);
}

.os-scrollbar-handle:hover {
	--os-handle-bg-hover: rgba(0, 0, 0, 0.7);
}

code {
	font-family: var(--font-mono);
}
